<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heller2!
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content" id="touchArea">
  
  <div class="center menu-options ion-padding" [hidden]="!showMenuOptions || showingModeMenu">
    <div class="center main-text">Menu</div>
    <ion-button class="" color="light" size="large" (click)="showModeMenu()"><ion-icon name="people-outline"></ion-icon>  Mode</ion-button>
    <ion-button class="" color="light" size="large" href="https://cs-software-org.github.io/"><ion-icon name="globe-outline"></ion-icon>  CS Software</ion-button>
    <ion-button class="" color="light" size="large" href="https://play.google.com/store/apps/details?id=com.gmail.cssoftware3279.Touch_Roulette"><ion-icon name="storefront-outline"></ion-icon>  Rate</ion-button>
  </div>

  <div class="center menu-options ion-padding" [hidden]="!showingModeMenu">
    <div class="center main-text">Select a mode</div>
    <ion-button class="" color="light" fill="{{!isSingleMode ? 'outline' : 'solid'}}" size="large" [strong]="isSingleMode" (click)="selectSingleMode()">Single</ion-button>
    <ion-button class="" color="light" fill="{{isSingleMode ? 'outline' : 'solid'}}" size="large" [strong]="!isSingleMode" (click)="selectTeamMode()">Team</ion-button>
    <div class="center main-text" [hidden]="!isSingleMode">Only 1 person will be selected</div>
    <div class="center main-text" [hidden]="isSingleMode">People will be divided into 2 teams. One blue team (square) and one red (circle) team.</div>
  </div>

  <div [hidden]="isSelectingWinnger || showMenuOptions" id="main-message" class="ion-padding main-text">{{message}}</div>

  <div id="0" class="circle">0</div>
  <div id="1" class="circle">1</div>
  <div id="2" class="circle">2</div>
  <div id="3" class="circle">3</div>
  <div id="4" class="circle">4</div>
  <div id="5" class="circle">5</div>
  <div id="6" class="circle">6</div> 
  <div id="7" class="circle">7</div> 
  <div id="8" class="circle">8</div>
  <div id="9" class="circle">9</div>
</ion-content>
<div [hidden]="oneIsTapping || multiTapping" class="center" id="menu">
  <ion-button md="ios" color="light" size="large" shape="round" fill="outline" (click)="handleMenuChange()">
    <ion-icon [hidden]="showMenuOptions || showingModeMenu" name="chevron-up-outline"></ion-icon>
    <ion-icon [hidden]="!showMenuOptions || showingModeMenu" name="chevron-down-outline"></ion-icon>
    <ion-icon [hidden]="!showingModeMenu" name="chevron-back-outline"></ion-icon>

  </ion-button>
</div>
