ion-content {
  --ion-background-color: #1A1D1E;
}

#touchArea {
  --ion-background-color: #1A1D1E;
}

.main-text {
  color: #fff;
  font-size: 20px;
}

.center {
  align-content: center;
  text-align: center; 
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.circle{
  position: absolute;
  top: -4000px;
  left: -4000px;
  margin-left: -35px;
  margin-top: -35px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  // background: rgba(255,255,255,0.62);

  // width: 20em;
  // height: 20em;
  color: #fff;
  background-color: var(--box-shadow-color);
  border: 5px solid #fff;
  // box-shadow: 0px 0px 50px 15px var(--box-shadow-color);
  box-shadow: 0px 0px 35px 10px var(--box-shadow-color);

  --box-shadow-color: blue;
  transition: 0.3s color;
}

.circle--active {
  background-color: var(--box-shadow-color) !important;
  box-shadow: 0px 0px 45px 15px var(--box-shadow-color) !important;
  --box-shadow-color: #ffda12 !important;
}

#menu {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;   
  bottom: 20px;
}

#main-message {
  // height: 100%;
  // width: 100%;
  padding: 20px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.menu-options {
  display: flex;
  flex-direction: column;
}

.menu-options div,
.menu-options ion-button {
margin: 20px 25px 0 25px;
font-size: 20px;
}